<div class="twitter-wrap">
  <div class="side-left">
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-link active" href="/home">
          <i class="fas fa-dove"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/home">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-hashtag"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-bell"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-bookmark"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-dove"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-sticky-note"></i>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="#">
          <% if(user.photo) {%>
          <img src="<%= user.photo %>" alt="<%= user.name %>" class="user-img-30" />
          <% } else { %>
          <img
            src="https://i.stack.imgur.com/34AD2.jpg"
            alt="<%= user.name %>"
            class="user-img-30"
          />
          <% } %>
        </a>

        <div class="box" id="#profile-modal">
          <% if(user.photo) {%>
          <img src="<%= user.photo %>" alt="<%= user.name %>" class="user-img-40" />
          <% } else { %>
          <img
            src="https://i.stack.imgur.com/34AD2.jpg"
            alt="<%= user.name %>"
            class="user-img-40"
          />
          <% } %>
          <p class="name"><%= user.firstname %> <%= user.lastname %></p>
          <p class="username">@<%= user.username %></p>
          <div class="bio"><%= user.description %></div>
          <div class="follow"></div>
          <div class="logout-btn">
            <a href="/logout">Logout</a>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link add-twit">
          <i class="fas fa-feather-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
