<div class="twitter-wrap">
  <div class="side-left">
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-link active" href="/home">
          <i class="fas fa-dove"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/home">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-hashtag"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-bell"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-bookmark"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-dove"></i>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <i class="fas fa-sticky-note"></i>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="#">
          <img class="user-img-30" alt="" src="<%= user.photo %> " />
        </a>

        <div class="box">
          <img src="https://via.placeholder.com/150" alt="" class="user-img-40" />
          <p class="name"><%= user.firstname %> <%= user.lastname %></p>
          <p class="username">@<%= user.username %></p>
          <div class="bio"><%= user.description %></div>
          <div class="folow"></div>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">
          <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="box">
          <a href=""></a>
          <p class="logout">Logout</p>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link add-twit">
          <i class="fas fa-feather-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
